// https://colors.eva.design/

$eva-design-dark--color-primary-100: #e9f8fc;
$eva-design-dark--color-primary-200: #d4f0f9;
$eva-design-dark--color-primary-300: #b8ddec;
$eva-design-dark--color-primary-400: #9ec6db;
$eva-design-dark--color-primary-500: #7ba6c3;
$eva-design-dark--color-primary-600: #5983a7;
$eva-design-dark--color-primary-700: #3d638c;
$eva-design-dark--color-primary-800: #274671;
$eva-design-dark--color-primary-900: #17315d;
$eva-design-dark--color-primary-transparent-100: rgba(123, 166, 195, 0.08);
$eva-design-dark--color-primary-transparent-200: rgba(123, 166, 195, 0.16);
$eva-design-dark--color-primary-transparent-300: rgba(123, 166, 195, 0.24);
$eva-design-dark--color-primary-transparent-400: rgba(123, 166, 195, 0.32);
$eva-design-dark--color-primary-transparent-500: rgba(123, 166, 195, 0.4);
$eva-design-dark--color-primary-transparent-600: rgba(123, 166, 195, 0.48);
$eva-design-dark--color-success-100: #d8fcd6;
$eva-design-dark--color-success-200: #aef9b1;
$eva-design-dark--color-success-300: #83ee91;
$eva-design-dark--color-success-400: #61de7e;
$eva-design-dark--color-success-500: #32c964;
$eva-design-dark--color-success-600: #24ac5f;
$eva-design-dark--color-success-700: #199058;
$eva-design-dark--color-success-800: #0f744e;
$eva-design-dark--color-success-900: #096048;
$eva-design-dark--color-success-transparent-100: rgba(50, 201, 100, 0.08);
$eva-design-dark--color-success-transparent-200: rgba(50, 201, 100, 0.16);
$eva-design-dark--color-success-transparent-300: rgba(50, 201, 100, 0.24);
$eva-design-dark--color-success-transparent-400: rgba(50, 201, 100, 0.32);
$eva-design-dark--color-success-transparent-500: rgba(50, 201, 100, 0.4);
$eva-design-dark--color-success-transparent-600: rgba(50, 201, 100, 0.48);
$eva-design-dark--color-info-100: #ccf4ff;
$eva-design-dark--color-info-200: #99e3ff;
$eva-design-dark--color-info-300: #67cdff;
$eva-design-dark--color-info-400: #41b7ff;
$eva-design-dark--color-info-500: #0291ff;
$eva-design-dark--color-info-600: #0170db;
$eva-design-dark--color-info-700: #0153b7;
$eva-design-dark--color-info-800: #003b93;
$eva-design-dark--color-info-900: #002a7a;
$eva-design-dark--color-info-transparent-100: rgba(2, 145, 255, 0.08);
$eva-design-dark--color-info-transparent-200: rgba(2, 145, 255, 0.16);
$eva-design-dark--color-info-transparent-300: rgba(2, 145, 255, 0.24);
$eva-design-dark--color-info-transparent-400: rgba(2, 145, 255, 0.32);
$eva-design-dark--color-info-transparent-500: rgba(2, 145, 255, 0.4);
$eva-design-dark--color-info-transparent-600: rgba(2, 145, 255, 0.48);
$eva-design-dark--color-warning-100: #fefcd5;
$eva-design-dark--color-warning-200: #fef9ab;
$eva-design-dark--color-warning-300: #fef482;
$eva-design-dark--color-warning-400: #fdef62;
$eva-design-dark--color-warning-500: #fce82f;
$eva-design-dark--color-warning-600: #d8c522;
$eva-design-dark--color-warning-700: #b5a217;
$eva-design-dark--color-warning-800: #92810e;
$eva-design-dark--color-warning-900: #786909;
$eva-design-dark--color-warning-transparent-100: rgba(252, 232, 47, 0.08);
$eva-design-dark--color-warning-transparent-200: rgba(252, 232, 47, 0.16);
$eva-design-dark--color-warning-transparent-300: rgba(252, 232, 47, 0.24);
$eva-design-dark--color-warning-transparent-400: rgba(252, 232, 47, 0.32);
$eva-design-dark--color-warning-transparent-500: rgba(252, 232, 47, 0.4);
$eva-design-dark--color-warning-transparent-600: rgba(252, 232, 47, 0.48);
$eva-design-dark--color-danger-100: #ffecd9;
$eva-design-dark--color-danger-200: #ffd4b3;
$eva-design-dark--color-danger-300: #ffb68d;
$eva-design-dark--color-danger-400: #ff9a71;
$eva-design-dark--color-danger-500: #ff6b42;
$eva-design-dark--color-danger-600: #db4830;
$eva-design-dark--color-danger-700: #b72b21;
$eva-design-dark--color-danger-800: #931515;
$eva-design-dark--color-danger-900: #7a0c14;
$eva-design-dark--color-danger-transparent-100: rgba(255, 107, 66, 0.08);
$eva-design-dark--color-danger-transparent-200: rgba(255, 107, 66, 0.16);
$eva-design-dark--color-danger-transparent-300: rgba(255, 107, 66, 0.24);
$eva-design-dark--color-danger-transparent-400: rgba(255, 107, 66, 0.32);
$eva-design-dark--color-danger-transparent-500: rgba(255, 107, 66, 0.4);
$eva-design-dark--color-danger-transparent-600: rgba(255, 107, 66, 0.48);
