// https://colors.eva.design/

$eva-design-light--color-primary-100: #f3fdf1;
$eva-design-light--color-primary-200: #e6fce4;
$eva-design-light--color-primary-300: #d4f8d5;
$eva-design-light--color-primary-400: #c6f1ca;
$eva-design-light--color-primary-500: #b1e8bc;
$eva-design-light--color-primary-600: #81c796;
$eva-design-light--color-primary-700: #59a777;
$eva-design-light--color-primary-800: #38865e;
$eva-design-light--color-primary-900: #216f4e;
$eva-design-light--color-primary-transparent-100: rgba(177, 232, 188, 0.08);
$eva-design-light--color-primary-transparent-200: rgba(177, 232, 188, 0.16);
$eva-design-light--color-primary-transparent-300: rgba(177, 232, 188, 0.24);
$eva-design-light--color-primary-transparent-400: rgba(177, 232, 188, 0.32);
$eva-design-light--color-primary-transparent-500: rgba(177, 232, 188, 0.4);
$eva-design-light--color-primary-transparent-600: rgba(177, 232, 188, 0.48);
$eva-design-light--color-success-100: #e8fcdf;
$eva-design-light--color-success-200: #cdf9c0;
$eva-design-light--color-success-300: #a8ee9c;
$eva-design-light--color-success-400: #84de7f;
$eva-design-light--color-success-500: #56c95a;
$eva-design-light--color-success-600: #3eac4c;
$eva-design-light--color-success-700: #2b9040;
$eva-design-light--color-success-800: #1b7436;
$eva-design-light--color-success-900: #10602f;
$eva-design-light--color-success-transparent-100: rgba(86, 201, 90, 0.08);
$eva-design-light--color-success-transparent-200: rgba(86, 201, 90, 0.16);
$eva-design-light--color-success-transparent-300: rgba(86, 201, 90, 0.24);
$eva-design-light--color-success-transparent-400: rgba(86, 201, 90, 0.32);
$eva-design-light--color-success-transparent-500: rgba(86, 201, 90, 0.4);
$eva-design-light--color-success-transparent-600: rgba(86, 201, 90, 0.48);
$eva-design-light--color-info-100: #cfefff;
$eva-design-light--color-info-200: #9fdbff;
$eva-design-light--color-info-300: #70c3ff;
$eva-design-light--color-info-400: #4cabff;
$eva-design-light--color-info-500: #1184ff;
$eva-design-light--color-info-600: #0c66db;
$eva-design-light--color-info-700: #084cb7;
$eva-design-light--color-info-800: #053593;
$eva-design-light--color-info-900: #03257a;
$eva-design-light--color-info-transparent-100: rgba(17, 132, 255, 0.08);
$eva-design-light--color-info-transparent-200: rgba(17, 132, 255, 0.16);
$eva-design-light--color-info-transparent-300: rgba(17, 132, 255, 0.24);
$eva-design-light--color-info-transparent-400: rgba(17, 132, 255, 0.32);
$eva-design-light--color-info-transparent-500: rgba(17, 132, 255, 0.4);
$eva-design-light--color-info-transparent-600: rgba(17, 132, 255, 0.48);
$eva-design-light--color-warning-100: #fef9d3;
$eva-design-light--color-warning-200: #fef2a7;
$eva-design-light--color-warning-300: #fee97c;
$eva-design-light--color-warning-400: #fde05b;
$eva-design-light--color-warning-500: #fcd125;
$eva-design-light--color-warning-600: #d8ae1b;
$eva-design-light--color-warning-700: #b58e12;
$eva-design-light--color-warning-800: #926e0b;
$eva-design-light--color-warning-900: #785807;
$eva-design-light--color-warning-transparent-100: rgba(252, 209, 37, 0.08);
$eva-design-light--color-warning-transparent-200: rgba(252, 209, 37, 0.16);
$eva-design-light--color-warning-transparent-300: rgba(252, 209, 37, 0.24);
$eva-design-light--color-warning-transparent-400: rgba(252, 209, 37, 0.32);
$eva-design-light--color-warning-transparent-500: rgba(252, 209, 37, 0.4);
$eva-design-light--color-warning-transparent-600: rgba(252, 209, 37, 0.48);
$eva-design-light--color-danger-100: #fff1e4;
$eva-design-light--color-danger-200: #ffe0ca;
$eva-design-light--color-danger-300: #ffcbb0;
$eva-design-light--color-danger-400: #ffb79c;
$eva-design-light--color-danger-500: #ff967c;
$eva-design-light--color-danger-600: #db6a5a;
$eva-design-light--color-danger-700: #b7443e;
$eva-design-light--color-danger-800: #93272a;
$eva-design-light--color-danger-900: #7a1721;
$eva-design-light--color-danger-transparent-100: rgba(255, 150, 124, 0.08);
$eva-design-light--color-danger-transparent-200: rgba(255, 150, 124, 0.16);
$eva-design-light--color-danger-transparent-300: rgba(255, 150, 124, 0.24);
$eva-design-light--color-danger-transparent-400: rgba(255, 150, 124, 0.32);
$eva-design-light--color-danger-transparent-500: rgba(255, 150, 124, 0.4);
$eva-design-light--color-danger-transparent-600: rgba(255, 150, 124, 0.48);
